div.card {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card.is-flipped {
    transform: rotateY(180deg);
    backface-visibility: visible;
}

.img{
  max-width: 100%;
}

.card_face {
  height: 90%;
  width: 90%;
  padding: 5%;
  line-height: 100px;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card_back {
  height: 100%;
  width: 100%;
  padding: 0;
}

.hidden {
  display: none;
}

div.card.hidden-card {
  cursor: default;
  background-color: transparent;
  border: 1px solid transparent;
  box-shadow: none;
}