.modal {
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 30%;
    background-color: gainsboro;
    border: 2px solid black;
    border-radius: 5px;
    animation: animateTop 0.4s;
}




/* Animations */
@keyframes animateTop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 25%;
        opacity: 1;
    }
}

@-moz-keyframes animateTop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 25%;
        opacity: 1;
    }
}

@-webkit-keyframes animateTop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 25%;
        opacity: 1;
    }
}