div.card{

    background-color: blue;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex: 1 0 21%;
    margin:6px;
    height: 15vh;
    flex-direction: row;
    align-items: center;

}

.gameboard{
    
    flex-direction: row;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button{
    margin-top: 40px;
    text-align: center;
    justify-content: center;
    height: 8vh;
    width: 20vw;
    font-size: 20px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    margin-bottom: 20px;
    
}

.timer{
    justify-content: center;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    height: 10vh;
   
}

section{
    text-align: center;

}


@media only screen and (min-width: 768px) {
    
    div.card{
        margin: 2%;
       
    }

    .button{
        flex-direction: row;
        font-size: 20px;
        height: 10vh;
        width: 12vw;
    }


  }

