html {
    width: 100vw;
}

body {
    background: #003973;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E5E5BE, #003973);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E5E5BE, #003973);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    overflow: hidden;
    background-size: 141vw;
}

.card-row {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

div.card {
    display: inline-flex;
    margin: 5px;
    color: white;
    height: 6rem;
    width: 6rem;
}

.gameboard {
    height: auto;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.button {
    margin-top: 19px;
    text-align: center;
    justify-content: center;
    height: 5vh;
    width: 150px;
    font-size: 20px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    margin-bottom: 20px;
}

.timer {
    justify-content: center;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    height: 10vh;
}

section#timer-section {
    text-align: center;
    height: 10em;
    margin-bottom: 4px;
}

@media only screen and (min-width: 700px) {
    div.card {
        height: 7rem;
        width: 7rem;
    }

    body {
        background-size: 100vw;
    }
}